.login-wrapper {
    width: 50%;
    margin: auto;
    border: solid 1px #404;
    padding: 10px;
    border-radius: 12px;
    max-height: 650px;
    margin-top: 150px;
    text-align: center;
    background-color: rgba(120, 20, 100, .2);
}
.avatar img {
    width: auto;
    height: 150px;
    border-radius: 100%;
}

.form-element {
    width: 100%;
}

.form-object {
    padding: 10px;
    
}
.form-object input {
    width: 95%;
    font-size: 18px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 2px 4px #404;
}
.form-action button {
    width: 90px;
    font-size: 15px;
    background-color: #404;
    color: #fff;
    font-weight: bolder;
    border-radius: 12px;
    height: 30px;
}